
*{
    margin: 0;
    padding: 0;
    background-color: rgb(247, 208, 217);
}

main {
    width: 100%;
    background-position:center;
    background-size: cover;
    height: 100vh;
    position: relative;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    width: 86%;
    display: flex;
    margin: auto;
    padding: 15px 0;
    background: transparent;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    padding-left: 40%;

}
ul {
    font-size: 18px;
    color: rgb(26, 108, 179);
    text-decoration: none;
    font-weight: 600;
}
.navbar {
   margin-top: -4%;
}

ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
}
ul li a {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: aliceblue;
    margin-top: -3%;
    transition: .4s ease;
}
ul li a:hover{
   color:black;
}
.info {
   margin-left: 10%;
   margin-top: 6%;

}
.info h1 {
    font-size: 65px;
    color: rgb(254, 252, 253);

}
.info h3 {
    font-size: 18px;
   letter-spacing: 1px;
   line-height: 24px;

}
.info span{
    color: rgb(241, 101, 133);
}
.info a{
    text-decoration: none;
    color: rgb(254, 96, 165);
    background: rgb(238, 119, 139);
    margin: 26px 0;
    padding: 10x 18px;
    border-radius: 10px;
    display: inline-block;
    transition: .4s ease;
}
.info a:hover{
    background: rgb(251, 154, 169);
}
.image{
    width: 30px;
    height: 60%;
    margin-top: 100px;
    padding-top: 80px;
    padding-right: 100px;
    padding-left: -1%;
    position: absolute;
    right: 100px;
    bottom: 10px;
    border-radius: 30%;
    padding-left: 60px;
}
.image img{
    position: absolute;
    height: 100%;
    left: 40%;
    transform: translate(-55%);
    bottom: 0;
    border-radius: 20%;

}
.icons{
    text-decoration: solid;
    color: black;
    background-color:transparent;
    margin-left: 150px;
    margin-top: 25px;
    padding: 5%;
    display: inline-block;
}
.fn{
    padding-left: 30px;
}
.s{
    padding-left: 40px;
    padding-top:50px;

}
.projects{
    padding-left: 40px;
    padding-top:50px;
    
}

.git{
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        color: transparent;
    
}
.l{
    margin-top: 30px;
    padding-left: 40px;
}
.tasktwo{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: transparent;
}
.taskthree{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color:transparent;
}
.cont{
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 10px;
}
.cnt{
    padding-top: 20px;
    padding-left: 20px;
}
.skill{
    padding-left: 60px;
    padding-top: 50px;
    display: inline-block;
    padding-bottom: 20px;
    
}
.aboutbody{
    font-family:'poppins';
}
.copyright{
    padding-left: 10%;
    padding-top: 80px;
}